.logo {
  &.box {
    background-color: var(--brand_clr__1);
  }
  & .logo_link {
    display: inline-block;

    font-family: 'Ralaway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #fff;

    padding: 9px 16px;
  }
}